.hotels-grid-400 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
}

@media (max-width: 768px) {
    .hotels-grid-400 {
        grid-template-columns: 1fr;
        justify-items: center;
    }
    
}