.navbar-toggler:focus {
    box-shadow: none !important;
}
@media(min-width: 992px) {
    .navbar-collapse {
        visibility: visible !important;
    }
    .navbar {
        padding-left: 50px;
    padding-right: 50px;
    }
}

.navbar {
    transition: all 0.3s ease;
    /* Smooth transition for background and other properties */
    width: 100%;
    z-index: 1000;
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

/* Sticky navbar styles */
.navbar.sticky {

    background: rgba(255, 255, 255, 0.5);
    /* Semi-transparent white background */
    backdrop-filter: blur(10px);
    /* Blur effect */
    -webkit-backdrop-filter: blur(10px);
    /* For Safari compatibility */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    /* Subtle shadow for depth */
}

/* Optional: Adjust navbar content padding when sticky */
/* .navbar.sticky .container-fluid {
    padding: 10px 15px;
} */
/* Overlay */
.mobile-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1040;
    
}

/* Drawer */
.mobile-drawer {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background-color: white;
    z-index: 1050;
    transition: left 0.3s ease-in-out;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
}

.mobile-drawer.open {
    left: 0;
}

/* Close button */
.drawer-header {
    display: flex;
    justify-content: flex-end;
}

.drawer-close {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

@media (min-width: 992px) {

    .mobile-drawer,
    .mobile-overlay {
        display: none;
    }
}
@keyframes skeleton-loading {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}

.skeleton {
    display: inline-block;
}

.skeleton-logo,
.skeleton-button,
.skeleton-profile {
    background-size: 200% 100%;
}



